<div class="product-list-container">
  <div class="product-list-item" *ngFor="let product of products">
    <div class="bulk-icon" *ngIf="product?.bulk">
      <img src="../../../assets/img/bulk.svg" alt="" />
    </div>
    <img src="{{ product.image }}" />
    <div class="product-info">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <div class="price-badge">
        <span>{{
          product.price.toLocaleString("pt-br", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
      </div>
    </div>
  </div>
</div>
