.product-list-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;

  .product-list-item {
    position: relative;
    background-color: #fff;
    width: 48%;
    height: 240px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21.8052px;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .bulk-icon {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 24px;
      height: 24px;
    }

    img {
      width: 100px;
    }

    .product-info {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-weight: 400;
        font-size: 18px;
        color: #202020;
        margin: 0;
      }

      p {
        font-size: 14px;
        color: var(--ion-color-dark-gray);
        margin: 4px 0 16px;
      }

      .price-badge {
        width: 75%;
        height: 40px;
        border-radius: 10px;
        background-color: var(--ion-color-secondary);

        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 18px;
          color: #fff;
        }
      }
    }
  }
}
