.menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    img {
      width: 80px;
      height: 80px;
    }

    span {
      margin-top: 5px;
      font-size: 16px;
      color: var(--ion-color-dark-gray);
    }
  }
}
