<ion-content [fullscreen]="true">
  <div class="home-wrapper">
    <div class="navigation-buttons-wrapper">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      <div class="cart-icon-wrapper">
        <ion-icon name="cart-outline" size="large"></ion-icon>
        <div class="cart-count" *ngIf="cartCount > 0">
          <span>{{cartCount}}</span>
        </div>
      </div>
    </div>
    <div class="home-header">
      <div class="logo"></div>
      <div class="market-infos">
        <h2>{{market?.name}}</h2>
        <div [ngClass]="isOpen() ? 'opened-info opened' : 'opened-info closed'">
          <span>&bull;</span>
          <span class="label">{{isOpen() ? 'Aberto' : 'Fechado'}}</span>
        </div>
        <span class="distance"
          >{{isMarketNearby ? marketDistance + 'km de distancia' : 'Fora do raio
          de entrega'}}</span
        >
      </div>
    </div>
    <div class="input-search-wrapper">
      <input type="search" name="search" placeholder="O que você procura?" />
      <div class="search-icon">
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>
    <app-market-menu></app-market-menu>
    <img src="../../assets/img/banner.png" />
    <app-product-list [products]="products"></app-product-list>
  </div>
</ion-content>
