.home-wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
}

.navigation-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 8px;

  .cart-icon-wrapper {
    position: relative;

    ion-icon {
      color: var(--ion-color-secondary);
    }

    .cart-count {
      position: absolute;
      top: -8px;
      right: -8px;

      background-color: var(--ion-color-secondary);
      color: var(--ion-color-light-gray);

      width: 17px;
      height: 17px;
      border-radius: 50%;

      text-align: center;

      font-size: 13px;
      font-weight: bold;
    }
  }
}

.home-header {
  width: 100%;
  padding: 4px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    background: url("../../assets/img/logo.png") repeat transparent;
    background-size: 100%;
    width: 105px;
    height: 105px;
  }

  .market-infos {
    margin-left: 30px;

    h2 {
      font-size: 32px;
      color: #202020;
      margin: 0;
    }

    .opened-info {
      display: flex;
      align-items: center;

      margin: 2px 0 4px;

      .label {
        font-size: 16px;
        margin-left: 8px;
      }
    }

    .opened {
      color: var(--ion-color-secondary);
    }

    .closed {
      color: var(--ion-color-error);
    }

    .distance {
      font-size: 16px;
      color: var(--ion-color-dark-gray);
    }
  }
}

.input-search-wrapper {
  position: relative;
  margin-bottom: 8px;

  .search-icon {
    position: absolute;
    top: 24px;
    left: 24px;

    ion-icon {
      font-size: 18px;
      color: var(--ion-color-dark-gray);
    }
  }
}

img {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 16px;
}
