<div class="splash-bg"></div>
<div class="splash-info" *ngIf="!isKeyboardShown">
  <div class="splash-logo"></div>
</div>
<div class="login-wrapper">
  <div class="login-form">
    <input
      type="email"
      [(ngModel)]="user.email"
      name="email"
      placeholder="Email"
      (focus)="isKeyboardShown = true"
      (focusout)="isKeyboardShown = false"
    />
    <div class="input-password-wrapper">
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        placeholder="Senha"
        (focus)="isKeyboardShown = true"
        (focusout)="isKeyboardShown = false"
      />
      <div class="show-password-icon">
        <ion-icon
          (click)="showPassword = !showPassword"
          name="{{showPassword ? 'eye-outline' : 'eye-off-outline'}}"
        ></ion-icon>
      </div>
    </div>
  </div>
  <div class="terms-and-conditions-wrapper">
    <span>
      Consulte nossos <strong>Termos de Uso</strong> e
      <strong>Política de Privacidade</strong>
    </span>
  </div>

  <button (click)="login()" class="primary">Entrar</button>
  <button (click)="signup()" class="secondary">Cadastre-se</button>

  <div class="reset-password-wrapper">
    <span>Redefinir senha</span>
  </div>
</div>
