.splash-bg {
  position: relative;
  background: url("../../assets/img/loginbg.png");
  background-size: cover;
  height: 30%;
  z-index: 1;
}

.splash-info {
  position: absolute;
  z-index: 2;

  top: 18px;
  right: 35%;
}
.splash-logo {
  background: url("../../assets/img/logo.png") repeat transparent;
  background-size: 100%;
  width: 105px;
  height: 105px;
}

.login-wrapper {
  padding: 24px 20px 0;
}

.login-form {
  width: 100%;
  margin-bottom: 10px;
}

.input-password-wrapper {
  position: relative;

  .show-password-icon {
    position: absolute;
    top: 24px;
    right: 24px;

    ion-icon {
      font-size: 18px;
      color: var(--ion-color-dark-gray);
    }
  }
}

.terms-and-conditions-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  span {
    font-size: 13px;
    text-align: center;
  }
}

.reset-password-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 13px;
    text-align: center;
    color: var(--ion-color-primary);
  }
}

button {
  width: 100%;
  height: 67px;
  margin-bottom: 26px;
  border-radius: 20px;

  border: none;
  outline: none;

  font-size: 18px;

  &.primary {
    background: var(--ion-color-primary);
    color: #ffffff;
  }

  &.secondary {
    background: transparent;
    color: var(--ion-color-primary);
    border: 2px solid var(--ion-color-primary);
  }
}
